POSTGRES_USER=flightpulse
POSTGRES_PASSWORD=change_me
POSTGRES_DB=flightpulse
POSTGRES_HOST=postgres
POSTGRES_PORT=5432


AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=change_me

MLFLOW_TRACKING_URI=http://mlflow:5000

SLACK_WEBHOOK_URL=

KAGGLE_USERNAME=
KAGGLE_KEY=
